.countries {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.search_input {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
}
