.countryContainer {
  position: relative;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
/* 
.backToTop {
  background-color: transparent;
  color: turquoise;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
} */
