.singleContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
}

.flag {
  height: 5.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 2px;
}

.weather {
  margin-top: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.icon {
  box-shadow: inset 0 0 5px rgb(17, 17, 17);
  /* background-color: rgb(247, 222, 140); */
  border: none;
  border-radius: 50%;
}
