* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(66, 65, 65);
  color: white;
  background-image: url("./assets/images/greg-rosenke-GOWz0zTf_vY-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: right 35%;
  background-size: cover;
  background-attachment: fixed;
}

.backToTop {
  background-color: transparent;
  color: turquoise;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
