.name {
  font-size: 1.6rem;
}

.flag {
  position: absolute;
  top: -20px;
  right: -20px;
  object-fit: cover;
  width: 5rem;
  border-radius: 2px;
}

.officialName {
  font-size: 1rem;
  font-weight: 400;
}

.parts {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 0.8rem;
}

.addFavorite {
  margin-top: 1rem;
}
