.name {
  font-size: 1.6rem;
  text-align: center;
}

.flag {
  position: absolute;
  top: -20px;
  right: -20px;
  object-fit: cover;
  width: 6rem;
  border-radius: 2px;
  box-shadow: 0 0 5px black;
}

.officialName {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.parts {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 0.8rem;
}

.addButton {
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.addButton:hover {
  color: rgb(177, 139, 14);
  box-shadow: 0 0 5px rgb(27, 27, 27);
}

.removeButton {
  background-color: rgb(251, 202, 40);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px rgb(27, 27, 27);
}
